@import 'src/styles/components-settings';

.container {
  align-items: center;
  display: flex;
  justify-content: center;

  .message {
    font-size: 16px;
    font-weight: $font-weight-semi-bold;
  }
}
